*
{
  box-sizing: border-box;
}

.body
{
  font-family: 'Montserrat', sans-serif;
  color: rgb(71, 70, 70);
}

.small
{
  font-size: 0.8rem;
  color: gray
}

.titles
{
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.highlight
{
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
}

.login-page
{
  width: 100%;
  height: 100vh;
  background-color: #b6e1f8;
}

.login-paper
{
  position: relative;
  top: 15rem;
  margin: 0 auto;
  height: 15rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.home-page
{
  height: 100vh;
  width: 100%;
  background-color:	#a2d2df;
}

.header-bar
{
  background-color:#257CA3;
}

.booking-pane
{
  width: 90%;
  height: 85vh;
  position:relative;
  margin: 2px auto;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  top:1rem;
}

.navigation
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  padding: 10px;
}

.buttons
{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.no-wrap
{
  white-space: nowrap;
}

.booking-modal
{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.booking-table
{
  padding: 0;
  overflow-y: auto;
}

.date-cell
{
  background-color: #e5e8f1;
}

.booking-cell
{
  display: flex;
  flex-direction: column;
}

.today
{
  background-color: #d1edfca7;
}

.row
{
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-wrap: nowrap;
}

.single-row
{
  display: flex;
  flex: row;
  margin: 48px auto;
}

.upper
{
  display: flex;
  flex-direction: column-reverse !important; 
}

.vertical-section 
{
  rotate: 90deg;
  margin-right: 80px;
}


.seat
{
  display: flex;
  flex-direction: column;
  width: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.seat-num
{
  font-size: 0.6rem;
}

.form-modal
{
  border: 2px solid green;
}

.selector{
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;

}
.selector input {
  display: none!important;
}

.selector input[type=checkbox] + label {
  display: inline-block;
  background: #dddddd;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.selector input[type=checkbox]:checked + label {
  background: rgb(0, 119, 255);
  color: #ffffff;
}

.weekDays input[type=checkbox] + label
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.months input[type=checkbox] + label
{
  width: 60px;
  height: 40px;
  border-radius: 25px;
}

.booking-button {
  margin-top: 10px auto;
}

.input-error
{
  color: red;
}

/*hall plans */
.kayak
{
  display: flex;
  flex-direction: row;
}

.k
{  
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 7px;
}

.k2
{
  margin-right: 8px;
}

.k5
{
  padding-top: 30px;
}